# Ignore node_modules in all subdirectories
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment files
.env
client/.env
server/.env

# Ignore build files
client/build/
server/bin/
server/obj/

# Ignore dependency lock files (optional)
package-lock.json
yarn.lock